<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ description or metadata.description }}" />
<meta name="generator" content="{{ eleventy.generator }}" />

<title>{{ title or metadata.title }}</title>

{% if build.includeAnalytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SP6B5B3MKM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SP6B5B3MKM');
    </script>
    <meta name="msvalidate.01" content="CA2E2D5BA4E1A00BA1746C26B5039806" />
{% endif %}

<script type="module">
{% include "../js/theme.js" %}
</script>

<link rel="stylesheet" href="/css/theme.css" />

<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}" />
<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}" />

<link rel="canonical" href="{{ page.url | absoluteUrl(metadata.url) }}" />
<link rel="icon" href="{{ metadata.img | safe }}" type="image/png" />
