<div class="post-list">
    {% for post in postList | reverse %}
        <article class="post-card">
            <h2>
                <a href="{{ post.url }}" class="link">{{ post.data.title }}</a>
            </h2>
            <time datetime="{{ post.date | htmlDateString }}" pubdate>{{ post.date | fullDate }}</time>
            <p class="excerpt">{{ post.data.page.excerpt | renderHTML | safe }}</p>
            <div>
                {%- for tag in post.data.tags | filterTagList -%}
                    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                    <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
                {%- endfor -%}
            </div>
        </article>
    {% endfor %}
</div>
