<!DOCTYPE html>
{# djlint:off H016, H030, H031 -- included in base-head.njk #}
<html lang="{{ metadata.language }}">
    {# djlint:on #}
    <head>

        {% include "base-head.njk" %}

        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div id="splash" class="overlay">Go Mercedes!</div>
        <div id="root">
            <header>
                <div class="home">
                    <a href="/">
                        <img class="dark" src="/img/rocket.webp" width="64" height="64" alt="Aaron Goldenthal's avatar" />
                        <img class="light"
                             src="/img/MAPF1_logo.webp"
                             width="64"
                             height="64"
                             alt="Mercedes AMG Petronal Formula 1 Team emblem" />
                        {{ metadata.title }}
                    </a>
                </div>
                <ul class="nav">
                    {%- for entry in collections.all | eleventyNavigation %}
                        <li {% if entry.url === page.url %}aria-current="page"{% endif %} class="nav-item">
                            <a href="{{ entry.url }}">{{ entry.title }}</a>
                        </li>
                    {%- endfor %}
                </ul>
            </header>
            <main {% if templateClass %}class="{{ templateClass }}"{% endif %}>
                {{ content | safe }}
            </main>
            <footer>
                <p>© {% year %} {{ metadata.author.name }}</p>
                <div>
                    <a href="https://fosstodon.org/@aarongoldenthal"
                       title="My Mastadon profile"
                       aria-label="My Mastadon profile">
                        <img height="50" width="50" alt="Gitlab logo" src="/img/mastadon.svg" />
                    </a>
                    <a href="https://bsky.app/profile/aarongoldenthal.com"
                       title="My Bluesky profile"
                       aria-label="My Bluesky profile">
                        <img height="50" width="50" alt="Gitlab logo" src="/img/bluesky.svg" />
                    </a>
                    <a href="https://gitlab.com/aarongoldenthal" title="My GitLab profile" aria-label="My GitLab profile">
                        <img height="50" width="50" alt="Gitlab logo" src="/img/gitlab.svg" />
                    </a>
                    <a href="https://github.com/aarongoldenthal" title="My GitHub profile" aria-label="My GitHub profile">
                        <img class="dark" height="50" width="50" alt="Gitlab logo" src="/img/github_dark.svg" />
                        <img class="light" height="50" width="50" alt="Gitlab logo" src="/img/github_light.svg" />
                    </a>
                </div>
            </footer>
        </div>
    </body>
</html>
