---
layout: layouts/base.njk
templateClass: post
---

<article>
    <h1>{{ title }}</h1>

    <div class="post-head">
        <time datetime="{{ page.date | htmlDateString }}" pubdate>{{ page.date | fullDate }}</time>
        <div class="tag-list">
            {%- for tag in tags | filterTagList %}
                {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
            {%- endfor %}
        </div>
    </div>

    {{ content | safe }}

</article>
