/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(strong) {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

html,
body {
    block-size: 100%;
}

ol,
ul {
    list-style: none;
}

iframe,
img,
object,
picture,
video,
canvas,
svg {
    block-size: auto;
    display: block;
    max-inline-size: 100%;
}

article,
footer,
header {
    overflow-wrap: break-word;
}

/* Global Values */
:root {
    --font-family: -apple-system, system-ui, sans-serif;
    --font-family-header: -apple-system, system-ui, sans-serif;
    --font-family-monospace:
        'Consolas', 'Menlo', 'Monaco', 'Andale Mono WT', 'Andale Mono',
        'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
        'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L',
        'Courier New', 'Courier', monospace;

    /* Light theme colors */
    --color-accent-1: #cc8800;
    --color-accent-2: #006aff;
    --color-background: #ffffff;
    --color-background-accent: rgba(0 15 50 / 2%);
    --color-background-accent-hover: rgba(0 15 50 / 3%);
    --color-background-accent-shadow: var(--color-gray-50);
    --color-background-accent-trim: rgba(0 15 50 / 10%);
    --color-background-code: rgba(0 15 50 / 8%);
    --color-background-icon: rgba(0 15 50 / 12%);
    --color-button: var(--color-text-link);
    --color-gray-20: #e0e0e0;
    --color-gray-50: #c0c0c0;
    --color-gray-90: #333333;
    --color-text: var(--color-gray-90);
    --color-text-header: #0b108e;
    --color-text-link: #0f2fbd;
    --color-text-link-visited: #133bec;
    --color-text-pre: #f6f6f6;
    --color-text-title: var(--color-text-header);
}

header,
footer {
    margin-block: 1rem;
    margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text-header);
    font-family: var(--font-family-header);
    font-weight: bold;
    margin-block: 1rem;
    margin-inline: auto;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3,
h4,
h5,
h6 {
    font-size: 1.45rem;
}

body {
    font-size: 1.15em;
}

table {
    border-collapse: collapse;
}

ul {
    margin-block: 1rem;
    margin-inline: 0.25rem auto;
    padding-inline: 1rem 2rem;
}

ul ul {
    margin: auto;
}

p {
    line-height: 1.65;
    margin-block: 1rem;
    margin-inline: auto;
}

p:last-child {
    margin-block-end: 0;
}

blockquote {
    background-color: var(--color-background-accent);
    border: 1px solid var(--color-accent-2);
    line-height: 1.65;
    margin-block: 1rem;
    margin-inline: min(1rem, 1vw);
    padding-block: 0.5rem;
    padding-inline: 1rem;
}

a[href] {
    color: var(--color-text-link);
    font-weight: inherit;
    text-decoration-color: var(--color-accent-1);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2rem;
}

a[href]:hover,
a[href]:focus {
    text-decoration-thickness: 2px;
    text-underline-offset: 0.15rem;
}

a[href]:visited {
    color: var(--color-text-link-visited);
}

/* Page layout */
/* stylelint-disable-next-line no-duplicate-selectors -- functional separation */
body {
    background-color: var(--color-background);
    color: var(--color-text);
    display: grid;
    font-family: var(--font-family);
    grid-template-columns: 1fr;
}

#root {
    inline-size: 100%;
    justify-self: center;
    max-inline-size: 1008px;
}

main {
    margin: 1rem;
}

main :first-child {
    margin-block-start: 0;
}

/* Header */
header {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: auto max-content;
    margin-block-start: 0;
    padding: 1rem;
}

header .home {
    align-self: center;
    color: var(--color-text-header);
    font-family: var(--font-family-header);
    font-size: 2.75rem;
    font-weight: bold;
    padding-block: 0;
    padding-inline: 0.25rem 0;
}

header .home a:link,
header .home a:visited {
    color: var(--color-text-title);
    text-decoration: none;
}

header .home a:hover,
header .home a:focus {
    text-decoration: underline;
}

header .nav {
    align-self: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .nav-item {
    line-height: 1.75rem;
    text-align: end;
}

header .nav-item[aria-current='page'] {
    font-weight: bold;
}

header img {
    vertical-align: middle;
}

header img.light {
    display: none;
}

header img.dark {
    display: inline;
}

/* Footer */
footer {
    margin-block: 1rem;
    margin-inline: auto;
    text-align: center;
}

/* stylelint-disable-next-line no-descending-specificity -- keep with footer */
footer p {
    margin-block-end: 0.5rem;
}

/* stylelint-disable-next-line no-descending-specificity -- keep with footer */
footer a[href],
footer a[href]:hover,
footer a[href]:focus {
    text-decoration: none;
    vertical-align: middle;
}

footer img {
    border-radius: 0.25rem;
    display: inline-block;
    padding: 0.5rem;
}

footer img:hover,
footer img:focus {
    background-color: var(--color-background-icon);
    transition: all 0.15s ease-out;
}

footer img.light {
    display: none;
}

footer img.dark {
    display: inline-block;
}

/* Post List */
.post-list-head {
    display: grid;
    grid-template-columns: auto max-content;
}

.post-list-head h1 {
    margin-block: 0 1rem;
    margin-inline: 0;
}

.post-list-head .all-posts-link {
    line-height: 2.5rem;
}

.post-card {
    background-color: var(--color-background-accent);
    border: 1px solid var(--color-background-accent-trim);
    border-radius: 0.3rem;
    margin-block-end: 1.5rem;
    padding: 1rem;
}

.post-card:hover,
.post-card:focus {
    background-color: var(--color-background-accent-hover);
    border-color: var(--color-accent-2);
    box-shadow: 1px 1px 8px var(--color-background-accent-shadow);
    transition: all 0.15s ease-out;
}

.post-card h2 {
    margin-block-end: 0.75rem;
}

.post-card time {
    display: block;
    margin-block-end: 0.5rem;
}

.post-card .excerpt {
    margin-block: 0.75rem;
    margin-inline: auto;
}

/* Post Tags */
a[href].post-tag {
    background-color: var(--color-button);
    border: 1px solid var(--color-button);
    border-radius: 0.4rem;
    color: var(--color-background);
    display: inline-block;
    font-size: 0.75rem;
    line-height: 1.8;
    margin-block: 0.25rem;
    margin-inline: 0 0.25rem;
    padding-block: 0.2rem;
    padding-inline: 0.4rem;
    text-decoration: none;
    text-transform: uppercase;
}

a[href].post-tag:hover,
a[href].post-tag:focus {
    background-color: inherit;
    color: var(--color-button);
    transition: all 0.15s ease-out;
}

/* Posts */
.post-head {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block-end: 1rem;
}

.post-head time {
    align-self: center;
    flex-grow: 1;
}

/* Post Content */
.post li {
    line-height: 1.65;
    list-style-type: square;
}

.post li::marker {
    color: var(--color-accent-1);
}

/* stylelint-disable-next-line no-descending-specificity -- keep with post */
.post img {
    border: 1px solid var(--color-gray-20);
}

.post table {
    border-collapse: collapse;
    margin-block: auto;
    margin-inline: min(1rem, 1vw);
    max-inline-size: 100%;
}

.post table td,
.post table th {
    border: 1px solid var(--color-gray-20);
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
}

.post table th {
    background-color: var(--color-background-accent);
    font-weight: bold;
}

.post table.first-column-250 td:first-child {
    inline-size: min(250px, 25vw);
}

.post table.first-column-350 td:first-child {
    inline-size: min(350px, 35vw);
}

.post .header-link {
    font-family: sans-serif;
    font-style: normal;
    margin-inline-start: 0.1rem;
    text-decoration: none;
}

.post details summary {
    cursor: pointer;
}

.post details[open] summary {
    padding-block-end: 0.75rem;
}

.post details + details {
    padding-block-start: 0.75rem;
}

a[href].header-link,
a[href].header-link:visited {
    color: transparent;
    visibility: hidden;
}

:hover > a[href].header-link,
a[href].header-link:focus,
:hover > a[href].header-link:visited,
a[href].header-link:focus:visited {
    color: var(--color-text);
    transition: all 0.15s ease-out;
    visibility: visible;
}

pre,
code {
    font-family: var(--font-family-monospace);
    line-height: 1.5;
    max-inline-size: calc(100vw - 3.1rem);
}

pre {
    background-color: var(--color-text-pre);
    direction: ltr;
    font-size: 0.75rem;
    hyphens: none;
    line-height: 1.375;
    margin-block: 0.5rem;
    margin-inline: 0;
    padding: 1rem;
    tab-size: 2;
    text-align: start;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
}

code {
    word-break: break-all;
}

div.code-side-by-side {
    display: grid;
    gap: 1vw;
    grid-template-columns: 1fr;
}

@media screen and (width >= calc(1000px - 1vw)) {
    div.code-side-by-side {
        grid-template-columns: repeat(2, 1fr);
    }
}

:not(pre) > code {
    background-color: var(--color-background-code);
    border-radius: 0.25rem;
    display: inline-block;
    padding-block: 0;
    padding-inline: 0.25rem;
}

/* Themes */
body.mercedes {
    --color-accent-1: #00f5d0;
    --color-accent-2: var(--color-accent-1);
    --color-background: #000000;
    --color-background-accent: rgba(255 255 255 / 5%);
    --color-background-accent-hover: rgba(255 255 255 / 8%);
    --color-background-accent-shadow: rgba(0 245 208 / 30%);
    --color-background-accent-trim: rgba(255 255 255 / 10%);
    --color-background-code: rgba(255 255 255 / 20%);
    --color-background-icon: rgba(255 255 255 / 25%);
    --color-button: var(--color-gray-50);
    --color-gray-20: #111111;
    --color-gray-50: #bbbbbb;
    --color-gray-90: #ffffff;
    --color-text: var(--color-gray-90);
    --color-text-header: var(--color-gray-90);
    --color-text-link: var(--color-gray-50);
    --color-text-link-visited: var(--color-gray-50);
    --color-text-pre: #f6f6f6;
    --color-text-title: var(--color-accent-1);
}

body.mercedes header img.light,
body.mercedes footer img.light {
    display: inline-block;
}

body.mercedes header img.dark,
body.mercedes footer img.dark {
    display: none;
}

/* Comments */
.giscus {
    margin-block-start: 1.5rem;
}

/* Splash screen overlay */
.overlay {
    background-color: rgba(0 0 0 / 95%); /* Black w/opacity */
    block-size: 100%;
    color: rgb(187 187 187);
    display: grid;
    font-size: min(10vw, 5rem);
    inline-size: 0;
    inset-block-start: 0;
    inset-inline-start: 0;
    overflow-x: hidden;
    place-items: center center;
    position: fixed;
    text-align: center;
    transition: 0.5s;
    z-index: 1;
}
