/**
 * MIT License
 * Copyright (c) 2018 Sarah Drasner
 * Sarah Drasner's[@sdras] Night Owl
 * Ported by Sara vieria [@SaraVieira]
 * Added by Souvik Mandal [@SimpleIndian]
 * Adapted from https://github.com/PrismJS/prism-themes/blob/master/themes/prism-night-owl.css
 *   by Aaron Goldenthal.
 */

:root {
    --color-background-code-prism: #011627;
    --color-border-code: rgba(248 248 242 / 80%);
    --color-text-code: #d6deeb;
    --color-text-code-inline: #ffffff;
}

code[class*='language-'],
pre[class*='language-'] {
    color: var(--color-text-code);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1rem;
    hyphens: none;
    line-height: 1.5;
    tab-size: 4;
    text-align: start;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

pre[class*='language-'] {
    border: 1px solid var(--color-border-code);
    border-radius: 0.3rem;
    margin-block: 0.5em;
    margin-inline: 0;
    overflow: auto;
    padding: 1rem;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
    background: rgba(29 59 83 / 99%);
    text-shadow: none;
}

@media print {
    code[class*='language-'],
    pre[class*='language-'] {
        text-shadow: none;
    }
}

/* Code blocks */
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background: var(--color-background-code-prism);
    color: var(--color-text-code-inline);
}

:not(pre) > code[class*='language-'] {
    border-radius: 0.3rem;
    padding: 0.1rem;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.cdata {
    color: rgb(109 131 131);
    font-style: italic;
}

.token.punctuation {
    color: rgb(199 146 234);
}

.namespace {
    color: rgb(178 204 214);
}

.token.deleted {
    color: rgba(239 83 80 / 56%);
    font-style: italic;
}

.token.symbol,
.token.property {
    color: rgb(128 203 196);
}

.token.tag,
.token.operator,
.token.keyword {
    color: rgb(127 219 202);
}

.token.boolean {
    color: rgb(255 88 116);
}

.token.number {
    color: rgb(247 140 108);
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
    color: rgb(130 170 255);
}

.token.selector,
.token.doctype {
    color: rgb(199 146 234);
    font-style: italic;
}

.token.attr-name,
.token.inserted {
    color: rgb(173 219 103);
    font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
    color: rgb(173 219 103);
}

.token.class-name,
.token.atrule,
.token.attr-value {
    color: rgb(255 203 139);
}

.token.regex,
.token.important,
.token.variable {
    color: rgb(214 222 235);
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

/* Highlight */
pre code .highlight {
    background: rgba(255 255 120 / 12%);
}

pre code .highlight2 {
    background: rgba(118 150 255 / 12%);
}

.highlight .token.comment,
.highlight .token.prolog,
.highlight .token.cdata,
.highlight2 .token.comment,
.highlight2 .token.prolog,
.highlight2 .token.cdata {
    color: rgb(135 155 155);
}

/* Themes */
body.mercedes {
    /* stylelint-disable-next-line no-unknown-custom-properties -- declared in index.css */
    --color-background-code-prism: var(--color-gray-20);
    --color-border-code: rgba(248 248 242 / 25%);
}
