:root {
    --color-background-deleted: #411515;
    --color-background-inserted: #152817;
}

pre[class*='language-diff-'] {
    --eleventy-code-padding: 1.25em;

    padding-inline: var(--eleventy-code-padding);
}

/* Modified from original value to meet a11y color contrast requirements */
.token.deleted {
    background-color: var(--color-background-deleted);
}

/* Modified from original value to meet a11y color contrast requirements */
.token.inserted {
    background-color: var(--color-background-inserted);
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
    align-items: center;
    background-color: rgb(0 0 0 / 20%);
    display: inline-flex;
    inline-size: var(--eleventy-code-padding);
    justify-content: center;
    padding-block: 2px;
    user-select: none;
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
    color: inherit; /* override del, ins, mark defaults */
    display: block;
    margin-inline: calc(-1 * var(--eleventy-code-padding));
    text-decoration: none; /* override del, ins, mark defaults */
}
