---
layout: layouts/home.njk
---

<div class="post-list-head">
    {% set maxPosts = collections.posts.length | min(3) %}

    <h1>
        Latest
        {%- if maxPosts == 1 %}
            Post
        {% else %}
            Posts
        {% endif -%}
    </h1>
    <div class="all-posts-link">
        <a href="/posts/">All Posts</a>
    </div>
</div>

{% set postList = collections.posts | head(-4) %}
{% set postListCounter = collections.posts | length %}

{% include "post-list.njk" %}
