---
permalink: /posts.json
eleventyExcludeFromCollections: true
---

[
{%- for post in collections.postsData %}
    {
    "url": "{{ post.url | htmlBaseUrl(metadata.url) }}",
    "title": {{ post.title | stringify | safe }},
    "description": {{ post.description | stringify | safe }},
    "date": "{{ post.date | dateToRfc3339 }}",
    "inputPath": "{{ post.inputPath }}",
    "outputPath": "{{ post.outputPath }}",
    "tags": {{ post.tags | stringifyTags | safe }}
    }
    {% if not loop.last %},{% endif %}
{%- endfor %}
]
