---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - postsData
    - tagList
    - eleventy-plugin-validate
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: "/tags/{{ tag | slugify }}/"
---

<h1>Tagged “{{ tag }}”</h1>

{% set postList = collections[ tag ] %}

{% include "post-list.njk" %}

<p>
    See <a href="/tags/">all tags</a>.
</p>
