---
permalink: /tags/
layout: layouts/home.njk
---

<h1>Tags</h1>

{% for tag in collections.all | getAllTags | filterTagList | sort %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <a href="{{ tagUrl }}" class="post-tag">{{ tag }} ({{ collections[tag].length }})</a>
{% endfor %}
